.wrapper {
  max-width: 1280px;
  min-width: 250px;
  min-height: 300px;
  margin: 0 auto;
}

.top-module,
.top-module__image,
.top-module__image--desktop,
.middle-module,
.gift-ideas,
.gift-ideas__title,
.gift-ideas__boxes,
.gift-for-her,
.gift-for-her__box,
.gift-for-her__image,
.gift-for-her__image--desktop,
.gift-for-her__title,
.gift-for-her__products-list,
.gift-for-her__product,
.gift-for-her__product-image,
.gift-for-her__promo-badge,
.gift-for-her__product-name,
.gift-for-her__product-description,
.gift-for-her__product-price-box,
.gift-for-her__product-price,
.gift-ideas__check-more-link,
.last-module,
.last-module__calendar,
.last-module__calendar-title,
.last-module__calendar-list,
.last-module__calendar-list-element,
.last-module__calendar-graphic,
.last-module__calendar-graphic-star,
.last-module__calendar-graphic-circle,
.last-module__calendar-graphic-text,
.last-module__delivery,
.last-module__delivery-order,
.last-module__delivery-order-text,
.last-module__delivery-date,
.last-module__delivery-order-title,
.last-module__delivery-title,
.last-module__delivery-date-box,
.last-module__delivery-date-star,
.last-module__delivery-date-circle,
.last-module__bottom-graphic {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.top-module {
  margin: 0 auto;
  padding: 5px;
}

.top-module__image,
.top-module__image--desktop {

  width: 100%;
  margin-bottom: 20px;

}

.top-module__image--desktop {

  display: none;
}

.top-module__video {
  width: 100%;
}

.top-module__div-text {

  background-color: #2e5d39;
}

.top-module__text {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 2px;
  font-size: 5vw;

}

.middle-module {

  margin: 0 auto;
  padding: 5px;
}

.gift-ideas {
  margin: 0 auto;
}

.gift-ideas__title {
  margin: 0 0 20px;
  text-align: center;
  font-size: 8vw;
}

.gift-ideas__boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 30px;
}

.gift-ideas__box {
  height: 20vw;
  flex-basis: 45%;
  margin-bottom: 20px;
  background-color: #549c39;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

}

.gift-ideas__link {
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vw;
}

.gift-for-her {
  margin: 0 auto 10px;
}

.gift-for-her__box {
  position: relative;
}

.gift-for-her__image,
.gift-for-her__image--desktop {
  width: 100%;
}

.gift-for-her__image--desktop {
  display: none;
}

.gift-for-her__title {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 7vw;
  font-weight: 600;
  color: white;
  text-align: center;
}

.gift-for-her__products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.gift-for-her__product {
  margin-top: 20px;
  position: relative;
  flex-basis: 48%;
  height: 40vh;
  text-align: center;
  text-decoration: none;
}

.gift-for-her__product-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  max-height: 52%;
}

.gift-for-her__promo-badge {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #be2b36;
  width: 50%;
  padding: 2px;
  border-radius: 4px;
  color: white;

}

.gift-for-her__product-name {
  position: absolute;
  top: 70%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 2.3vw;
  color: #000;
}

.gift-for-her__product-description {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  color: #A9A9A9;
  font-size: 2.3vw;
}

.gift-for-her__product-price-box {
  position: absolute;
  top: 85%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);

}

.gift-for-her__product-price {
  font-weight: bold;
  color: #be2b36;
}


.gift-for-her__product-price--old {
  text-decoration: line-through;
  font-size: 2vw;
  color: #A9A9A9;
}

.gift-ideas__check-more-link {
  display: block;
  text-decoration: none;
  width: 70%;
  height: 10vh;
  line-height: 10vh;
  margin: 5% 15% 0;
  text-align: center;
  background-color: #000;
  color: white;
}

.last-module {
  margin: 5px;
  color: #fff;
  background-color: #2e5d39;
}

.last-module__calendar {
  padding: 15px;
}

.last-module__calendar-title {
  font-size: 5vw;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.last-module__calendar-description {
  font-size: 4vw;
  margin: 25px auto;
  text-align: center;
}

.last-module__calendar-list {
  margin: 30px 0;
  list-style: none;
}

.last-module__calendar-list-element {
  margin: 20px 0;
  font-size: 2.7vw;
}

.last-module__calendar-graphic {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 3fr;
  width: 90%;
  margin: 10px auto;
  align-items: center;
  justify-items: center;
}

.last-module__calendar-graphic-star {
  width: 70%;
}

.last-module__calendar-graphic-circle {
  width: 50%;
}

.last-module__calendar-graphic-text {
  font-size: 2.2vw;
}

.last-module__delivery {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px;

}

.last-module__delivery-order {
  flex-basis: 34%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.last-module__delivery-order-text {
  flex-basis: 5vh;
  line-height: 5vh;
  font-size: 2.7vw;
}

.last-module__delivery-date {
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
}

.last-module__delivery-order-title,
.last-module__delivery-title {
  font-size: 2.8vw;
  flex-basis: 5vh;
  line-height: 5vh;
  background-color: #1A3723;
}

.last-module__delivery-date-box {
  flex-basis: 5vh;
  line-height: 5vh;
}

.last-module__delivery-date-star {
  width: 5%;
}

.last-module__delivery-date-circle {
  width: 4%;
}

.last-module__bottom-graphic {
  position: relative;
  height: 5vh;
  background-color: #fff;
  width: 100%;
}

.last-module__bottom-image,
.last-module__bottom-image--desktop {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.last-module__bottom-image--desktop {
  display: none;
}

/* RWD */


@media (min-width:500px) and (orientation:landscape) {
  .gift-for-her__product {
    height: 80vh;
  }

  .gift-for-her__product-name {
    top: 62.5%;
  }

  .gift-for-her__product-description {
    top: 72.5%;
  }

  .last-module__delivery-order-title,
  .last-module__delivery-title,
  .last-module__delivery-order-text,
  .last-module__delivery-date-box {
    flex-basis: 10vh;
    line-height: 10vh;
  }

  .last-module__bottom-graphic {
    height: 15vh;
  }
}

@media(min-width:768px) {

  .top-module__image {
    display: none;
  }

  .top-module__image--desktop {
    display: block;
  }

  .top-module__text {
    font-size: 4vw;
    padding: 1vw;
  }

  .gift-ideas__box {
    height: 10vh;
    flex-basis: 20%;
  }

  .gift-ideas__link {
    font-size: 2vw;
  }

  .gift-for-her__image {
    display: none;
  }

  .gift-for-her__image--desktop {
    display: block;
  }

  .gift-for-her__title {
    transform: translate(-90%, -25%);
  }

  .gift-for-her__product {
    flex-basis: 24.5%;
    height: 27vh;
  }

  .gift-for-her__product-name {
    top: 60%;
    font-size: 1.1vw;
  }

  .gift-for-her__product-description {
    font-size: 1.1vw;
    top: 65%;
  }

  .gift-for-her__product-price-box {
    top: 75%;
  }

  .gift-for-her__product-price {
    font-size: 2.5vw;
  }

  .last-module {
    display: flex;
    flex-wrap: wrap;

  }

  .last-module__calendar,
  .last-module__delivery {
    flex-basis: 50%;
    margin: 0 auto;
  }

  .last-module__delivery {
    margin: 0 0 10px;
  }

  .last-module__calendar-title {
    font-size: 3vw;
  }

  .last-module__calendar-description {
    box-sizing: border-box;
    padding: 0;
    font-size: 2.5vw;
  }

  .last-module__calendar-list-element,
  .last-module__calendar-graphic-text {
    font-size: 1.2vw;
  }

  .last-module__delivery-order-title,
  .last-module__delivery-title,
  .last-module__delivery-order-text,
  .last-module__delivery-date-box {
    font-size: 1.5vw;
    flex-basis: 2.4vh;
    line-height: 2.4vh;
  }

  .last-module__bottom-image {
    display: none;
  }

  .last-module__bottom-image--desktop {
    display: block;
  }

}

@media(min-width:768px) and (max-height: 600px) {

  .gift-for-her__product {
    flex-basis: 24.5%;
    height: 50vh;
  }

  .last-module__delivery-order-title,
  .last-module__delivery-title,
  .last-module__delivery-order-text,
  .last-module__delivery-date-box {
    flex-basis: 5.5vh;
    line-height: 5.5vh;

  }
}

@media (min-width:768px) and (orientation:landscape) {
  .gift-for-her__product-name {
    top: 63%;

  }

  .gift-for-her__product-description {
    top: 71%;
  }

  .gift-for-her__product-price-box {
    top: 80%;
  }
}

@media (min-width:768px) and (min-height:1024px) {

  .gift-for-her__product-description {
    font-size: 1.3vw;
    top: 70%;
  }

  .gift-for-her__product-price-box {
    top: 85%;
  }

  .gift-ideas__check-more-link {
    height: 6vh;
    line-height: 6vh;
    font-size: 2vw;
  }

}

@media (min-width:1024px) and (orientation:landscape) {
  .gift-ideas__title {
    font-size: 6vw;
  }

  .gift-for-her__title {
    font-size: 5vw;
    width: 30%;
    transform: translate(-125%, -50%);
  }

  .gift-for-her__product-price {

    font-size: 1.6vw;
  }

  .gift-for-her__product-price--old {
    font-size: 1.4vw;
  }

  .gift-ideas__check-more-link {
    height: 10vh;
    line-height: 10vh;
    font-size: 2vw;
    border: 2px solid white;
    border-radius: 5px;
    transition: .5s;
  }

  .gift-ideas__box {
    transition: .5s;
    border: 2px solid white;
  }

  .gift-ideas__box:hover {
    background-color: #fff;
    border: 2px solid #549c39;
    border-radius: 5px;
  }


  .gift-ideas__link {
    transition: .5s;
  }

  .gift-ideas__box:hover .gift-ideas__link {
    color: #549c39;
  }

  .gift-ideas__check-more-link:hover {
    color: black;
    background-color: #fff;
    border: 2px solid black;

  }

  .last-module__delivery-order-title,
  .last-module__delivery-title,
  .last-module__delivery-order-text,
  .last-module__delivery-date-box {
    flex-basis: 3.8vh;
    line-height: 3.8vh;
  }

}

@media (min-width:1024px) and (min-height:1366px) {

  .last-module__delivery-order-title,
  .last-module__delivery-title,
  .last-module__delivery-order-text,
  .last-module__delivery-date-box {
    flex-basis: 2vh;
    line-height: 2vh;
  }
}

@media (min-width:1200px) {

  .top-module__image--desktop {
    margin-bottom: 60px;
  }

  .top-module__text {
    font-size: 2.5vw;
  }

  .gift-ideas__title {
    font-size: 3.5vw;
    margin: 50px 0 80px;
  }

  .gift-ideas__link {
    font-size: 1.5vw;
  }

  .gift-for-her__title {
    font-size: 3.5vw;
    width: 25%;
    transform: translate(-135%, -90%);
  }

  .gift-for-her__product {
    height: 40vh;
  }

  .last-module {
    margin: 30px auto;

  }

  .last-module__delivery-order-title,
  .last-module__delivery-title,
  .last-module__delivery-order-text,
  .last-module__delivery-date-box {
    flex-basis: 3.1vh;
    line-height: 3.1vh;
  }

  .last-module__bottom-graphic {
    line-height: 3vh;
  }

}

@media (min-width:1200px) and (max-height:900px) {

  .last-module__delivery-order-title,
  .last-module__delivery-title,
  .last-module__delivery-order-text,
  .last-module__delivery-date-box {
    flex-basis: 4vh;
    line-height: 4vh;
  }

}

@media (min-width:1366px) and (orientation: landscape) {

  .gift-for-her__title {
    font-size: 3.5vw;
    width: 30%;
    transform: translate(-125%, -60%);
  }

  .gift-for-her__product {
    height: 40vh;
  }

  .gift-for-her__product-name {
    font-size: 0.9vw;
  }

  .gift-for-her__product-description {
    font-size: 0.8vw;
  }

  .gift-for-her__product-price {
    font-size: 1.5vw;
  }

  .gift-for-her__product-price--old {
    font-size: 1.3vw;
  }

  .gift-ideas__check-more-link {
    font-size: 1.5vw;
  }

  .last-module__calendar-title {
    font-size: 2vw;
  }

  .last-module__calendar-description {

    font-size: 2.5vw;
  }

  .last-module__calendar-list-element,
  .last-module__calendar-graphic-text {
    font-size: 1vw;
  }

  .last-module__delivery-order-title,
  .last-module__delivery-title,
  .last-module__delivery-order-text,
  .last-module__delivery-date-box {
    font-size: 1vw;
    line-height: 4.2vh;
    flex-basis: 4.2vh;
  }

}

@media (min-width:1366px) and (min-height:1000px) {

  .last-module__delivery-order-title,
  .last-module__delivery-title,
  .last-module__delivery-order-text,
  .last-module__delivery-date-box {
    flex-basis: 2.6vh;
    line-height: 2.6vh;
  }
}

@media (min-width:1600px) {

  .last-module__calendar-title {
    font-size: 1.5vw;
  }

  .last-module__calendar-description {
    font-size: 1.7vw;
  }

  .last-module__delivery-order-title,
  .last-module__delivery-title,
  .last-module__delivery-order-text,
  .last-module__delivery-date-box {
    font-size: 1.1vw;
    line-height: 3vh;
    flex-basis: 3vh;
  }
}